.button {
  padding: 14px;
  
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  
  border-radius: 8px;
  border: none;
  color: var(--btn-text-primary);
  background-color: var(--btn-bg-1);
  
  transition: opacity 200ms ease-in-out,
    background 200ms ease-in-out,
    transform 200ms ease-in-out;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button:active {
  transform: translate(0, 2px);
}

.button_primary {
  background-color: var(--btn-bg-2);
}

.button_primary:hover {
  background-color: var(--btn-hover-bg-primary);
}

.button_secondary {
  background-color: var(--btn-bg-3);
}

.button_secondary:hover {
  background-color: var(--btn-hover-bg-secondary);
}

.button_alternate {
  color: var(--btn-text-secondary);
  border: 1px solid var(--btn-border-color);
}

.button_alternate:hover {
  border-color: var(--btn-hover-border-color);
}

.button_preview {
  padding-left: 52px;
  padding-right: 52px;
}