.sidebar__body {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
}

.sidebar_burger-menu .sidebar__body {
  margin-bottom: 72px;
}

.sidebar__title {
  margin-top: 0;
  margin-bottom: 16px;
  
  font-family: 'Inter', Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  
  color: var(--sidebar-title-color-primary);
}

.sidebar_burger-menu .sidebar__title {
  color: var(--sidebar-title-color-secondary);
}

.sidebar__menu {
  display: grid;
  grid-template-columns: auto;
  row-gap: 4px;
}

.sidebar_burger-menu .sidebar__menu {
  row-gap: 16px;
}

.sidebar__item {
  margin: 0;
  
  
  font-family: 'Inter', Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  
  color: var(--sidebar-text-color);
}

.sidebar__item_active {
  color: var(--sidebar-active-color);
}

.sidebar__item-link {
  text-decoration: none;
  font-family: inherit;
  
  color: inherit;
}

.sidebar__item-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 520px) {
  .sidebar {
    display: none;
  }
  
  .sidebar_burger-menu {
    display: block;
  }
}